a:hover {
  color: black;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.row-attribute {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.description-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cause-item {
  background-color: #d8e2f5;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 8px;
}

.skills-item {
  background-color: #d8f5e5;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 8px;
}

.good-for-item {
  background-color: #f5efd8;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 8px;
}

.requirements-item {
  background-color: #f5ded8;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 8px;
}

.main-instance-page {
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.background-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px; /* Adds border radius */
  filter: blur(3px); /* Adds blur effect */
  transition: filter 0.5s ease; /* Smooth transition for the filter effect */
}

.image-container {
  position: relative;
  height: 400px; /* Set the desired fixed height */
  width: 100%; /* Set the width to 90% of its container */
  overflow: hidden; /* Hide overflowing tint */
  border-radius: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 1; 
  border-radius: 20px; 
}

.title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  font-size: 50px;
  font-family: 'NotoSans-SemiBold';
  z-index: 2;
}

.back-button {
  text-align: left;
  text-decoration: none;
  color: inherit;
  font-family: "NotoSans-Light";
}

.toggle-button {
  background-color: white;
  border-width: 0;
  font-size: 1.2em;
  margin-bottom: 17px;
  margin-left: 7px;
}

.toggle-icon {
  transition: transform 0.2s ease-in-out;
}

.toggle-button:hover .toggle-icon {
  transform: scale(1.2);
}

.description-container {
  /* background-color: #fff68f; */
  background-color: #bfbfbf2e;
  font-family: "NotoSans-Light";
  font-size: 20px;
  white-space: break-spaces; /* allows \n to display */
  overflow-y: scroll;
  padding: 15px 25px;
}

.description-truncated {
  overflow: hidden;
  position: relative;
  max-height: 10em;
}

.description-truncated:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10em; /* Height of the gradient fade-out */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}

.description-expanded {
  max-height: none; /* Expand the text to show full content */
}

.contact-type {
  /* indicates phone, email, website, twitter, etc */
  font-family: "NotoSans";
  font-size: 18px;
  margin-right: 20px;
  font-weight: bold;
}