/* Card.css */
.card {
    border: 1px solid #d9d9d9;
    border-radius: 10px 10px 5 5;
  }
  
  .card-content {
    align-items: left;
    justify-content: left;
    text-align: left;
  }
  
  .card-button {
    background-color: #303030;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .row-attribute {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Change the number to control the maximum number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  